<footer class="mt-auto w-100 px-3 pt-3">
    <div class="container-fluid bg-grisclair px-5 py-2">
        <div class="d-flex justify-content-between">
            <div id="coordonnees">
                <h3>Coordonnées</h3>
                <p>impasse Louis de Broglie</p>
                <p>57970 YUTZ</p>
                <p>06.09.21.97.14</p>
                <p>melv.douc@gmail.com</p>
            </div>
            <div>
                <ul>
                    <li>Accueil</li>
                    <li>Actualités</li>
                    <li>Carte</li>
                    <li>Contacts</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">Copyright &copy; 2020 Melvin DOUCET</div>
    </div>
</footer>